body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: pink;
    color: white;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
}

main h2 {
    font-size: 30px;
}

nav {
    margin: 10px 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin-right: 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
    color: rgb(255, 0, 217);
}

ul li {
    font-size: 20px;
}

main {
    padding: 20px;
    text-align: center;
}

.div1 {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

button:hover {
    background-color: #ff7fb2c4;
}

a:hover{
    color: #ff7fb2c4;
}
