<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Donation Criteria</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
    <header>
        <h1>Food Donation</h1>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/submit">Donate Food</a></li>
                <li><a href="/criteria">Donation Criteria</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section>
            <h2>Donation Criteria</h2>
            <ul>
                <li>Items must be within their expiration date.</li>
                <li>Items must be unopened and in their original packaging.</li>
                <li>Items must be non-perishable.</li>
            </ul>
        </section>
        <button onclick="window.history.back()" class="small-button">Back</button>
    </main>

</body>

</html>