<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>{% if is_update %}Edit Food Item{% else %}Insert Food Item{% endif %}</title>

    <style>
         .small-button {
            padding: 5px 10px;
            font-size: 12px;
            border-radius: 5px;
            height: 50px;
            width: 70px;
            position: relative;
            left: 0;
            top: 0;
        }
    </style>
</head>

<body>
    <button onclick="window.history.back()" class="small-button">Back</button>

    <div style="font-family: Arial, sans-serif;margin: 0;padding: 0;display: flex;align-items: center;justify-content: center;flex-direction: column;">

    <h2>{% if is_update %}Edit Food Item{% else %}Insert a New Food Item{% endif %}</h2>

    <!-- Display a success or error message if available -->
    {% if msg %}
    <p>{{ msg }}</p>
    {% endif %}

    <!-- Form for inserting or updating a food item -->
    <form action="{% if is_update %}{{ url_for('editFoodItem') }}{% else %}{{ url_for('insertFoodItem') }}{% endif %}"
        method="post">
        
        <label for="foodItemName">Food Item Name:</label><br>
        <input type="text" id="foodItemName" name="foodItemName" value="{{ foodItemName }}" required><br><br>

        <label for="expiryDate">Expiry Date:</label><br>
        <input type="date" id="expiryDate" name="expiryDate" value="{{ expiryDate }}" required><br><br>

        {% if is_update %}
        <input type="hidden" name="rowid" value="{{ id }}">
        {% endif %}

        <input type="submit" value="{% if is_update %}Update{% else %}Submit{% endif %}">
    </form>
</body>

</html>