<!DOCTYPE html>
<html>
<head>
    <title>Pygame Controller</title>
    <link href="/static/styles.css" rel="stylesheet">
</head>
<body>
    <form action = "/create" method="POST">
        Username: <input type="text" placeholder="Enter Username" name="username" value="" required>
        Password: <input type="password" placeholder="Enter Password" name="password" value="" required>
        <button type="submit">Create Account</button>
    </form>
    add details??
    <a href="/">Cancel</a>
</body>
</html>