<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Donate Food</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
    <header>
        <h1>Food Donation</h1>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/submit">Donate Food</a></li>
                <li><a href="/criteria">Donation Criteria</a></li>
            </ul>
        </nav>
    </header>
    <div class="div1">
        <h1>Donate Food</h1>
        <form id="donationForm" action="{{ url_for('submit') }}" method="POST">
            <h2>Select Items to Donate</h2>

            {% for row in rows %}
            <div>
                <input type="checkbox" id="{{ row['id'] }}" name="items" value="{{ row['id'] }}">
                <label for="{{ row['id'] }}">{{ row['foodItemName'] }} (Expires: {{ row['expiryDate'] }})</label>
            </div>
            {% endfor %}


            <br>
            <button type="submit">Submit Donation</button>
        </form>
    </div>
</body>

</html>